li {
    list-style-type: none;
}
.dropdown-menu {
    background-color: #F6F6F6;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    min-width: 335px;
}
.dropdown-text{
    overflow: hidden;
    padding: 0 20px;
}
.dropdown-text.active {
    opacity: 1;
    visibility: visible;

}
.dropdown-text.inactive {
    opacity: 0;
    visibility: hidden;
}
.dropdown-title {
    background-color: #FF6060;
    border-radius: 5px;
    width: 100%;
    display:flex;
    justify-content: space-between;
       h2 {
        color:white;
        margin-left:1rem;
    }
    img {
        margin-right:1rem;
        height: 40px;
        margin-top:1rem;
        cursor:pointer;
    }
    .icon {
        width: 30px;
        
    }
}
@media screen and (max-width: 820px) {
    .dropdown-menu {
        width: 100%;
        max-width: 800px;
    }
    .dropdown-title icon {
        svg {
            width: 20px;
        }
        
     }
     .dropdown-title img {
         margin-top:0 ;
     }
     .dropdown-title {
        .icon {
            width: 20px;
        }
    }
}
@media screen and (max-width: 500px) {
    .dropdown-menu {
        width: 100%;
        max-width: 500px;
    }
    .dropdown-title icon {
        svg {
            width: 20px;
        }
        
     }
     .dropdown-title img {
         margin-top:0 ;
     }
     .dropdown-title {
        .icon {
            width: 20px;
        }
    }
}