li {
    list-style-type: none;
}
.dropdown-menu {
    background-color: #F6F6F6;
    width: 1024px;
    bottom:5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    order:1;
}
.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}
.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}
.dropdown-title {
    background-color: #FF6060;
    border-radius: 5px;
    width: 1024px;
    display:flex;
    justify-content: space-between;
    order:0;
       h2 {
        color:white;
        margin-left:1rem;
    }
    img {
        margin-right:1rem;
        height: 40px;
        margin-top:1rem;
        cursor:pointer;
    }
}
