ul {
    display:flex;
    margin:3rem

}
a {
    text-decoration:none;
    padding: 1rem;

    li {
        color: #FF6060;
        transition:0.3s;
        cursor: pointer;
        list-style-type: none
    }
}