.navigation {
    display: flex;  
    justify-content: space-between; 
}
ul {
    display:flex;
    margin:3rem
}
a {
    text-decoration:none;
    font-size: 24px;
    margin-right: 57px;
    li {
        
        transition:0.3s;
        cursor: pointer;
        list-style-type: none
    }
}

.logo {
    padding-top:1rem;
    padding-left:2rem;
    cursor: pointer;
}
.nav-active {
    position:relative;
    &::after {
        content:"";
        height: 1px;
        width: 0;
        background-color: #FF6060;
        position: absolute;
        bottom: 0px;
        left:50%;
        transform: translate(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
            to {
                width: 100%;
            }
        }
        @keyframes anim {
            to {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .navigation {
        display: flex;
        justify-content: flex-start; 
    }
    a {
        font-size:12px;
        margin-right:8px;
        
    }
   
    a img {
        width: 70%;
    }
    ul {
       
        margin:1rem;
        width: 100%;
        justify-content: flex-end;
    }
}