ul {
    display:flex;
    margin:3rem
    
}
a {
    text-decoration:none;
    
    font-size: 24px;
    margin-right: 57px;
    li {
        
        transition:0.3s;
        cursor: pointer;
        list-style-type: none
    }
}
.navigation {
    display: flex;
    justify-content: flex-end;
}