h2 {
    font-weight: 500;
    font-size: 24px;
}
p {
    font-weight: 400;
    font-size: 24px;
}
ul {
    list-style-type: none;
}
.contenu {
    margin-top:10rem;
}
.background-about {
    border-radius: 5px;
    margin-bottom: 2rem;
    margin-left:25%;
 
    width: 1240px;
    background-size:cover;
    
}