.centered {
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
}
p{
    margin-top: -10rem;
    margin-bottom: 10rem;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}
.navlink {
    font-weight: 500;
    margin-top: -1rem;
    font-size: 18px;
    text-align: center;
}