
.background {
    background-image: url("../../assets/IMG_opacity.png");
    width: 1240px;
    height: 233px;
    border-radius: 25px;
    margin: 0 auto;
    width: 1240px;
    vertical-align: middle;
    background-size:cover;
}

.home-title {
    text-align: center;
    font-weight:500 ;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 5rem;
    filter: none;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1240px;
    justify-content: space-between;
    padding-top:2rem;
    
}
.card {
    height: 340px;
    width: 340px;
    background-color: #FF6060;
    border-radius: 25px;
    margin-bottom: 2rem;
    margin-left: 2rem; 
    margin-right: 2rem;
    position: relative;
    background-size:cover;
    &:before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: #0000003d; //transparence
        z-index: 10;
        position: absolute;
        border-radius: 25px;
    }
}


.card-title {
    font-size:18px ;
    font-weight: 500;
    color:white;
    text-align: left;
    margin-left:2rem;
    padding-top:17rem;
    width: 240px;
    //text-shadow: 2px 1px 2px black;
    z-index: 12;
    position: relative;
}
@media screen and (max-width: 450px) {
.background {
    width: 335px;
    height: 111px;
    border-radius:10px;
}
.home-title {
    font-size: 24px;
    padding-top:2rem;
}
.card{
    width: 335px;
    height: 255px;
    margin: 0 auto;
    width: 335px;
    margin-bottom:2rem ;
    border-radius:10px;
    &:before {
    border-radius: 10px;
    margin: 0 auto;
    width: 335px;
    margin-bottom:2rem ;
}
 
}
.cards {
    flex-direction: column;
    margin: 0 auto;
    width: 335px;
    
}
.card-title {
    padding-top:12rem;
    margin-left:1rem;
}
}