

.background {
    background-image: url("../../assets/IMG_opacity.png");
    width: 1240px;
    height: 233px;
    border-radius: 25px;
    margin: 0 auto;
    width: 1240px;
    vertical-align: middle;
 
}

h1 {
    text-align: center;
    font-weight:500 ;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 5rem;
    filter: none;
}