.background-img img{
    height: 415px;
    margin: 0 auto;
    border-radius: 25px;
    object-fit: cover;
    width: 1240px;
}
.background-logement {
    max-width: 1240px;
    margin: 0 auto;
    min-height: 30vh;
}
.background-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-arrow {
    position: relative;
    top:250px;
    left:1170px;
}
.right-arrow {
    position: relative;
    top:-250px;
    left:20px;
}
.tags {
    background-color:#FF6060 ;
    color:white;
    border-radius: 10px;
    font-weight: 500;
    size: 14px;
    align-items: center;
    padding-top:0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 115px;
    height: 25px;
    margin-right: 1rem;
    text-align: center;
}
.content-picture-name {
 display: flex;
}
.flex-tags {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}
.flex-logement-town-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.host-flex {
  img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-left: 1rem;
  }
}

.title-logement {
    font-size: 500;
    font-size: 36px;
    padding-bottom: 0.5rem;
}
.town-logement {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 0.5rem;
}
.host-name {
    font-weight: 500;
    font-size: 18px;
    width : min-content;
    align-self: initial;
    padding-top: 0.5rem;
}
.flex-logement {
    justify-content: space-between;
  
}
.flex-information-logement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      display: block;
    }
 
}
.description-full {
    display: flex;
    flex-direction: column;
   
}
.equipements-full {
    display: flex;
    flex-direction: column;
   
}
.flex-logement {
    display: flex;
   
}
.description-full{
   width: 530px;
}
.description {
    background-color: #FF6060;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius:5px;
    padding:1rem;
    margin-bottom: 1rem;
}
.description-logement {
    width: 582px;
    margin-bottom:1rem ;
}
.equipements-full {
    width: 530px;
  
}
.equipement {
    background-color: #FF6060;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius:5px;
    padding:1rem;
    margin-bottom: 1rem;
}
.equipement-logement {
    width: 582px;
}
.logement {
    background-color: white;
}
.footer {
    margin-top: 23rem;
}


@media screen and (max-width: 1024px) {
    .background-logement {
      max-width: 540px;
    }
    .background-img img {
      width: 540px;
      height: 255px;
    }
    .right-arrow {
      top:-165px;
      left:15px;
      svg {
          width: 30px;
      }
    }
    .left-arrow {
      top:180px;
      left:490px;
      svg {
          width: 30px;
      }
    }
    .title-logement {
      font-size: 18px;
      font-weight: 500;
    }
    .town-logement {
      font-size: 14px;
      font-weight: 500;
    }
  
    .flex-logement {
      display: flex;
      flex-direction: column;
    }
    .red-star {
      svg {
          width: 15px;
      }
    }
    .gray-star {
      svg {
          width: 15px;
      }
    }
    .flex-logement-town-stars {
      flex-wrap: wrap;
      width: 315px;
      }
      .flex-tags {
          flex-wrap: wrap;
      }
      
      .tags {
          border-radius: 5px;
          font-weight: 500;
          size: 14px;
          min-width:84px;
          height: 18px;
          padding-top: 0.2rem;
          margin-bottom: 1rem;
          font-size: 10px;
      }
      .flex-logement {
          padding-top: 1rem;
      }
   
      .dropdown-title h2 {
          font-size: 13px;
      }
       .dropdown-text p {
          font-size: 12px;
      }
      .host-flex {
        display: flex;
        flex-direction: row-reverse;
      }
       
  }
@media screen and (max-width: 500px) {
  .background-logement {
    max-width: 335px;
  }
  .background-img img {
    width: 335px;
    height: 255px;
  }
  .right-arrow {
    top:-165px;
    left:15px;
    svg {
        width: 30px;
    }
  }
  .left-arrow {
    top:180px;
    left:290px;
    svg {
        width: 30px;
    }
  }
  .title-logement {
    font-size: 18px;
    font-weight: 500;
  }
  .town-logement {
    font-size: 14px;
    font-weight: 500;
  }
   .flex-logement {
    display: flex;
    flex-direction: column;
  }
  .red-star {
    svg {
        width: 15px;
    }
  }
  .gray-star {
    svg {
        width: 15px;
    }
  }
  .flex-logement-town-stars {
    flex-wrap: wrap;
    width: 315px;
    
    }
    .flex-tags {
        flex-wrap: wrap;
    }
     .tags {
        border-radius: 5px;
        font-weight: 500;
        size: 14px;
        min-width:84px;
        height: 18px;
        padding-top: 0.2rem;
        margin-bottom: 1rem;
        font-size: 10px;
    }
    .flex-logement {
        padding-top: 1rem;
    }
   .background-logement {
   
    }
    .dropdown-title h2 {
        font-size: 13px;
    }
     .dropdown-text p {
        font-size: 12px;
    }  
    
    .description-full{
      width: 335px;
   }
   .equipements-full {
    width: 335px;
   }
  
   .title-logement {
    padding-bottom: 0.5rem;
   }
   .town-logement {
    padding-bottom: 0.5rem;
   }
}
